<% if current_user %>

  <div class="row justify-content-center">
    <div class="col-6 mt-2 mb-4">
      <%= form_with model: @site, local: true do |f| %>
        <% if @site.errors.any? %>
          <div class="alert alert-danger">
            <h4>
              <%= pluralize @site.errors.count, 'error' %> were found.
            </h4>
            <ol>
              <% @site.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ol>
          </div>
        <% end %>

        <div class="input-group">
          <%= f.text_field :url, class: "form-control", placeholder: "enter a URL to capture" %>
          <div class="input-group-append">
            <%= f.submit 'Capture URL', class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <h2>Your Recent Portraits</h2>

      <ul class="list-group list-group-flush">
        <% current_user.sites.last_five.each do |site| %>
          <li class="list-group-item">
            <%= link_to site.url, site_path(site) %>
            <span class="float-right"><%= site.created_at.strftime('%B %e, %Y %I:%m %p') %></span>
          </li>
        <% end %>
      </ul>

    </div>
  </div>

<% else %>

  <div class="row justify-content-center mb-5">
    <div class="col-12">
      <h1 class="display-3">
        Portrait is a web service for capturing a webpage as an image.
      </h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <p>
        <%= link_to 'Register with Us', register_path, class: 'btn btn-primary btn-lg' %>
      </p>
      <p class="lead">
        or download your own copy on <%= link_to 'GitHub', 'https://github.com/jmckible/portrait' %>
      </p>
    </div>
  </div>

<% end %>
