<div class="row justify-content-center">
  <div class="col-4">
    <h2>Edit Account</h2>
    <hr>

    <%= form_with model: @user do |f| %>
      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <h4>
            <%= pluralize @user.errors.count, 'error' %> were found.
          </h4>
          <ol>
            <% @user.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ol>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :first_name, "First Name" %><br>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :last_name, "Last Name" %><br>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :username %><br>
        <%= f.text_field :username, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Password Confirmation" %><br>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="form-group form-check">
        <%= f.check_box :admin, class: "form-check-input" %>
        <%= f.label :admin, class: "form-check-label" %>
      </div>

      <br>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>
