<%= form_with model: @site do |f| %>
  <%= f.text_field :url %>
  <%= f.submit 'Capture URL' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>URL</th>
      <th>Status</th>
      <th>Added</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= link_to site.user.name, users_path %></td>
        <td><%= link_to site.url, site.url %></td>
        <td><%= site.status.capitalize %></td>
        <td><%= site.created_at.strftime('%B %e, %Y %I:%m %p') %></td>
        <td><%= link_to(site.image.filename, url_for(site.image)) if site.image.attached? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @sites %>
